{% extends "catalog/base.html" %}
{% block title %}Редактировать товар{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2>Редактировать товар</h2>
    <form method="post" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-warning">Сохранить изменения</button>
        <a href="{% url 'product_detail' product.pk %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}